@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

.bottom {
  text-align: center;
  padding-bottom: 20px;
}

.container-main {
  min-height: 100vh;
  width: 100%;
  /*background-color: black;*/
  /*background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);*/
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
  padding: 0;
  margin: 0;
}

.menu {
  /*max-width: 72rem;*/
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem 2.5rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.logo img {
  margin-top: -19%;
  width: 80px;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 3rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eed9b7;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eed9b7;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background-color: black;*/
  background-image: url(home.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  /*max-width: 35rem;*/
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}

.title {
  font-size: 2.7rem;
}

.container-main.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container-main.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container-main.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container-main.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello {
  z-index: 5;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eed9b7;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.container-main.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

.links ul li a {
  position: relative;
}

.links ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  /*background: #aaa;*/
  background: #eed9b7;
  height: 1px;
}

.links ul li a:hover:after {
  width: 100%;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container-main.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container-main.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container-main.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container-main.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

@media screen and (max-device-width: 480px) {
  .container-main.active .main {
    animation: main-animation 0.5s ease;
    cursor: pointer;
    transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
  }

  @keyframes main-animation {
    from {
      transform: translate(0);
    }

    to {
      transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
    }
  }

  .container-main.active .shadow.one {
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(130px) scale(0.5);
  }

  @keyframes shadow-one {
    0% {
      transform: translate(0);
    }

    5% {
      transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
    }

    100% {
      transform: perspective(1300px) rotateY(20deg) translateZ(130px) scale(0.5);
    }
  }

  .container-main.active .shadow.two {
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(100px) scale(0.5);
  }

  @keyframes shadow-two {
    0% {
      transform: translate(0);
    }

    20% {
      transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
    }

    100% {
      transform: perspective(1300px) rotateY(20deg) translateZ(100px) scale(0.5);
    }
  }
}
